extends layout
block content
	div(class="bd-pageheader text-xs-center text-sm-left",id="index")
		div(class="container")
			h1 Diablo Resource Centre
			p(class="lead") Welcome to the Diablo Resource Centre! You can find all the information you need about legendary gems and your progress in Diablo!
	div(class="container")
		h1 Difficulty Overview
		h1 Classes
		h1 Legendary Gems
		h1 Leaderboards
		h1 Season Stats
		