extends layout
block content
	div(class="bd-pageheader text-xs-center text-sm-left",id="leaderboards")
		div(class="container")
			h1 Leaderboards
			p(class="lead") See who is doing better than the rest!
	div(class="container")