extends layout
block content
	div(class="bd-pageheader text-xs-center text-sm-left",id="difficultyoverview")
		div(class="container")
			h1 Legendary Gems
			p(class="lead") In Diablo 3, there are 21 Legendary Gems that give you special effects to increase your power. This calculator lets you see what Greater Rift Level you need to play to get what chance at leveling your gems.
	div(class="container")
		div(id="legendarygemsapplet")
	block content