extends layout
block content
	div(class="bd-pageheader text-xs-center text-sm-left",id="seasonbests")
		div(class="container")
			h1 Season Bests
			p(class="lead") Check how well you did each season here!
	div(class="container")