extends layout
block content
	div(class="bd-pageheader text-xs-center text-sm-left",id="seasonbests")
		div(class="container")
			h1 Season Bests
			p(class="lead") Check how well you did each season here! Use Testimony#1517 as test. (Marrick's Profile)
	div(class="container",id="seasonstats")