body {
    padding-top 80px;
}

.bd-pageheader {
    padding: 2rem .9375rem;
    margin-bottom: 1.5rem;
    color: #FFFFFF;
    text-align: center;
    background-color: #FF3030;
}

.fullwidth {
    width: 100%;
}

#difficultyoverview {
    margin-top: 50px;
}

table td, table th {
    text-align: center;
}

.gemClicked {
    border: 1px;
    border-color: red;
}